body {
  background-color: blueviolet;
}
.container {
  background-color: crimson;
  display: flex;
  justify-content: center;
  gap: 64px;
  border: 1px solid black;
  border-radius: 30px;
}
.urunler {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  border: 3px solid black;
}
.urunler  li{
  padding: 12px;
  border: 1px solid #fff;
  border-radius: 20px;
  font-size: 32px;
}
.urunBtn {
  background-color: gray;
  padding: 24px;
  display: flex;
  border: none;
  border-radius: 12px;
  margin: 12px;
}
.siparislerimiz {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  border: 3px solid black;
}
.siparislerimiz ul {
  display: flex;
  gap: 32px;
  flex-direction: column;
  align-items: center;
 
}
.siparislerimiz  li {
  margin: 9px;
  border: 1px solid #fff;
  border-radius: 20px;
  padding: 12px;
  font-size: 32px;
  color: #fff;
}
